<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="libs/fragments.html :: header">
	</th:block>
</head>

<body>

	<nav th:replace="libs/fragments.html :: navigation"></nav>

	<div id="content" class="container">

		<div class="row">
			<h2 th:utext="${title}"></h2>
			<p th:utext="${content}"></p>
		</div>
		
		<div class="row" 
			th:if="${#maps.containsKey(meta, 'taxonomy') && #maps.containsKey(meta.taxonomy, 'tags')}"
		>
			TAGS:
			<div th:each="tag: ${meta.taxonomy.tags}">
				<a th:href="${taxonomyFN.url('tags', tag)}" th:text="${taxonomyFN.getTitle('tags', tag)}" ></a>
			</div>
			
		</div>
	</div>

	<th:block th:replace="libs/fragments.html :: footer"></th:block>

	<script th:replace="libs/fragments.html :: footer_scripts">

	</script>

</body>

</html>