<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="libs/fragments.html :: header">
	<title></title>
</head>

<body>

	<nav th:replace="libs/fragments.html :: navigation"></nav>

	<div class="container" th:utext="${content}"></div>

	<div class="containter" th:with="result = ${searcher.search('the query')}">
		<h4>Searchresult:</h4>
		<p>
			Treffer: <h5 th:text="${result.total()}"></h5>
		</p>
		<p>
			Anzahl: <h5 th:text="${result.items.size}"></h5>
		</p>
		<p th:each="item : ${result.items}">
			<span th:text="${item.name()}"></span>
		</p>
	</div>

	<th:block th:replace="libs/fragments.html :: footer"></th:block>

</body>

<script th:replace="libs/fragments.html :: footer_scripts">

</script>

</html>