<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="libs/fragments.html :: header">
	</th:block>
</head>

<body>

	<nav th:replace="libs/fragments.html :: navigation"></nav>

	<div id="content">

		<div th:if="${ENV == 'dev'}">
			<div class="container" style="color: red;">
				<h2>DEVELOPMENT</h2>
			</div>
		</div>

		<div class="container" th:utext="${content}"></div>
	</div>

	<div class="container">
		<h2>Featured</h2>
		<th:block th:each="featured : ${query.create().where('featured', true).page(1, 1).items}">
			<div class="featured">
				<h3 th:text="${featured.name}"></h3>
				<a th:href="${featured.path}">goto</a>
			</div>
		</th:block>
	</div>

	<div class="container">
		<h2>Featured IN </h2>
		<th:block th:each="featured : ${query.create().whereIn('featured', true, false).page(1, 1).items}">
			<div class="featured">
				<h3 th:text="${featured.name}"></h3>
				<a th:href="${featured.path}">goto</a>
			</div>
		</th:block>
	</div>
	<div class="container">
		<h2>MediaService</h2>
		<th:block th:with="testMedia=${mediaService.get('images/test.jpg')}">
			<div th:if="${testMedia.exists() == true}">
				<img th:src="${'/media/' + testMedia.uri() + '?format=small'}" th:alt="${testMedia.meta.alt}" />
			</div>
		</th:block>
	</div>

	<th:block th:replace="libs/fragments.html :: footer"></th:block>

</body>

<script th:replace="libs/fragments.html :: footer_scripts">

</script>

</html>