<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  cms-server
  %%
  Copyright (C) 2023 - 2024 CondationCMS
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->

<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n</Property>
		<Property name="LOG_LOC">logs/</Property>
		<Property name="MAX">5</Property>
	</Properties>
 
	<Appenders>
		<Console name="console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}"/>
		</Console>
		<Routing name="Routing">
			<Routes pattern="$${ctx:site}">
				<Route key="$${ctx:site}">
					<RollingFile name="FILE" 
								 fileName="${LOG_LOC}/raw.log"
								 filePattern="${LOG_LOC}/raw.%i.log">
						<PatternLayout>
							<Pattern>${LOG_PATTERN}</Pattern>
						</PatternLayout>

						<Policies>
							<OnStartupTriggeringPolicy />
						</Policies>

						<DefaultRolloverStrategy max="${MAX}" />
					</RollingFile>
				</Route>
				<Route>
					<RollingFile name="RAW"
								 fileName="${LOG_LOC}/site-${ctx:site}.log"
								 filePattern="${LOG_LOC}/site-${ctx:site}.%i.log">
						<PatternLayout>
							<Pattern>${LOG_PATTERN}</Pattern>
						</PatternLayout>

						<Policies>
							<OnStartupTriggeringPolicy />
						</Policies>

						<DefaultRolloverStrategy max="${MAX}" />
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
	</Appenders>
 
	<Loggers>
		<Logger name="com.condation.cms" level="error" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<!---
		<Logger name="com.condation.cms" level="debug" additivity="false">
			<appender-ref ref="Routing" />
		</Logger>
		-->
		<Logger name="extensions" level="error" additivity="false">
			<AppenderRef ref="console"/>
		</Logger>
		<!-- config jetty request logger -->
		<!--Logger name="org.eclipse.jetty.server.RequestLog" level="info" additivity="false">
			<AppenderRef ref="console"/>
		</Logger-->
		
		<Root level="error">
			<AppenderRef ref="console"/>
		</Root>
		
	</Loggers>
</Configuration>
