<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<th:block th:replace="libs/fragments.html :: header">
		</th:block>
	</head>

	<body>

		<nav th:replace="libs/fragments.html :: navigation"></nav>

		<div id="content">
			<div class="conainter">
				<h3>Overridden template from parent</h3>
			</div>
			
			<div class="container" th:utext="${node.content}"></div>

			<div class="container" th:if="${sections.containsKey('part')}">
				<th:block th:each="part : ${sections.get('part')}">
					<th:block th:utext="${part.content}"></th:block>
				</th:block>
			</div>

			<div class="conainter">
				<h3>Messages</h3>
				<h3 th:text="${messages.getLabel('labels', 'message.theme.child')}">message.theme.child</h3>
				<h3 th:text="${messages.getLabel('labels', 'message.theme.parent')}">message.theme.parent</h3>
				<h3 th:text="${messages.getLabel('labels', 'message.site')}">message.site</h3>
			</div>
			
		</div>

		<th:block th:replace="libs/fragments.html :: footer"></th:block>

	</body>

	<script th:replace="libs/fragments.html :: footer_scripts">

	</script>

</html>