<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="libs/fragments.html :: header">
	</th:block>
</head>

<body>

	<nav th:replace="libs/fragments.html :: navigation"></nav>

	<div class="container">
		<h2 th:text="${meta.title}"></h2>
		<ul th:each="node: ${page.items}">
				<ul>
					<a th:href="${node.path()}">
						<span th:text="${node.name()}"></span>
					</a>
				</ul>
		</ul>
		
	</div>

	<th:block th:replace="libs/fragments.html :: footer"></th:block>

</body>

<script th:replace="libs/fragments.html :: footer_scripts">

</script>

</html>