<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="robots" content="noindex, nofollow" />
	<th:block th:replace="libs/fragments.html :: header">
	</th:block>
	<script th:inline="javascript">
		/*<![CDATA[*/
		const CONTEXT_PATH = /*[[${site.contextPath}]]*/ '/';
		/*]]>*/
	</script>
	<script th:src="${links.createUrl('/theme/assets/search-1.js')}" defer></script>
	<link rel="stylesheet" th:href="${links.createUrl('/theme/assets/search-1.css')}" defer />
</head>

<body>

	<nav th:replace="libs/fragments.html :: navigation"></nav>

	<div class="container" th:utext="${content}"></div>

	<div class="container">
		<div th:if="USERNAME != null">
			Hallo <span th:text="${USERNAME}"></span>
		</div>
		<div class="row">
			<div class="input-group mb-3">
				<input type="text" class="form-control" id="search-input" placeholder="Search query"
					aria-label="Search query" aria-describedby="search-button">
				<button class="btn btn-outline-secondary" type="button" id="search-button"><span
						class="bi bi-search"></span></button>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<h6 class="nomargin" id="result_count">

					</h6>
					<hr class="nomargin-bottom margin-top-10">
					<div id="search_results">

					</div>
				</div>
			</div>
		</div>
	</div>

	<th:block th:replace="libs/fragments.html :: footer"></th:block>

</body>

<script th:replace="libs/fragments.html :: footer_scripts">

</script>

</html>