<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:include="libs/header.html :: header">
		<title></title>
	</head>
	<body>
		
		<nav th:replace="libs/header.html :: navigation"></nav>

		<div class="container" th:utext="${content}"></div>
		
		<div th:with="name = ${myName.get()}">
			<p th:th:text="${name}"></p>
		</div>
		<div th:with="hello = ${getHello.apply('Thorsten')}">
			<p th:text="${hello}"></p>
		</div>
	</body>

	<script th:replace="libs/header.html :: footer_scripts">
		
	</script>
</html>