<div class="section" {{ ext.ui.toolbar(node.uri, "section" , ["editContent", "editAttributes" , "deleteSection" ], {"uri":
	node.uri}) | raw }}>
	<div class="container">
		{{ node.content | default('your content here') | raw}}
	</div>
	

	<div style="display: none;" {{ ext.ui.editMeta("text", "title" , node.uri, node.uri) | raw }}></div>
	<div style="display: none;" {{ ext.ui.editMeta("datetime", "publish_date" , node.uri, node.uri) | raw }}></div>
	<div style="display: none;" {{ ext.ui.editMeta("datetime", "unpublish_date" , node.uri, node.uri) | raw }}></div>
	<div style="display: none;" {{ ext.ui.editMeta("list", "object.values" , node.uri, node.uri, {"nameField": "title"}) | raw }}></div>

	<div>
		<div class="container" {{ ext.ui.editMeta("text", "description" , node.uri, node.uri) | raw }}>
			{{ node.meta.getOrDefault('description', 'description here')}}
		</div>
		<div class="container" {{ ext.ui.editMeta("text", "parent.text" , node.uri, node.uri) | raw }}>
			{{ node.meta.getOrDefault('parent.text', 'Parent.Text here')}}
		</div>
		<div class="container" {{ ext.ui.editMeta("markdown", "about" , node.uri, node.uri) | raw }}>
			{{ cms.markdown.render(node.meta.getOrDefault('about', '--about--')) | raw}}
		</div>
		<div class="container" {{ ext.ui.editMeta("markdown", "about1" , node.uri, node.uri) | raw }}>
			{{ cms.markdown.render(node.meta.getOrDefault('about1', '--about1--')) | raw}}
		</div>
	</div>
	<div>
		{% if node.meta.containsKey('media_url') %}
		{% assign media = cms.mediaService.get(node.meta.media_url) %}
		<img src="/media/{{ media.uri }}?format=small" alt="{{ media.meta.alt }}" 
			{{ ext.ui.mediaToolbar(["select", "meta"], {"uri": node.uri, "element": "media_url" }) | raw }} />
		{% endif %}
	</div>
	<div>
		{% if node.meta.containsKey('object.values') %}
			{% for item in node.meta.get("object.values") %}
				{{ item.title }} - {{ item.description }} <br/>
			{% endfor %}
		{% endif %}
	</div>
</div>