<div>
{{ content | raw}}
</div>

<h1>featured</h1>
{% set news = query.create("/blog").where('featured', true).get() %}
{% for entry in news %}
	<h2>{{entry.name}}</h2>
{% endfor %}

<h1>featured with in</h1>
{% set news = query.create("/blog").whereIn('featured', [true, false]).get() %}
{% for entry in news %}
	<h2>{{entry.name}}</h2>
{% endfor %}

<h1>featured with in with operator</h1>
{% set news = query.create("/blog").where('featured', "in", [true, false]).get() %}
{% for entry in news %}
	<h2>{{entry.name}}</h2>
{% endfor %}

{{ messages.getLabel("labels", "contact.form.title", ['test']) }}

<h3>test hooks</h3>
{% for entry in hooks.execute('test/content').results() %}
	<h2>{{entry | raw}}</h2>
{% endfor %}